.Header{
    height: 70px;
    width: 58%;
    background-color:grey;
    margin: auto;
    margin-top: 20px;
    margin-left: 20%;
}

.information:nth-child(1){
    width: 13.5%;

}
.information:nth-child(3){
    width: 38%;

}
.information:nth-child(4){
    width: calc(70% - 38% - 32% - 13.5%);

}

.information{
    color: white;
    float: left;
    height: 100%;
    width: 26%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 1.2rem;
    font-family: "Nunito";
}